<h1>About</h1>
<a routerLink="/">Home</a>

<div class="container">
    <h1>Pokemon Form</h1>
    <form #f="ngForm" (ngSubmit)="doSomething(f)">
      <div class="form-group">
        <label for="pokemonName">Name</label>
        <input type="text" class="form-control" id="pokemonName" name="pokemonName" ngModel required>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" id="type">
      </div>

      <button (click)="ngSubmit" class="btn btn-success">Submit</button>

    </form>
</div>